---
layout: page
is_homepage: true
---
{% include JB/setup %}

<div class="col-md-9">
<section id="abstract">
<p>Il sito presenta report periodici sull'andamento dei treni pendolari Asti-Torino, basati su dati estratti dal sistema <a target="_blank" class="external-link" id="link-viaggiatreno" href="http://www.viaggiatreno.it/">Viaggiatreno</a> di Trenitalia integrati da osservazioni effettuate individualmente dai viaggiatori.</p>
<p>Il codice usato per estrarre i dati da Viaggiatreno e generare i report sarà prossimamente reso disponibile come software libero, a disposizione di associazioni di pendolari o di singoli che vogliano monitorare sistematicamente le loro tratte.</p>
</section>

<div class="col-md-6">
<section id="posts"><header><h2>Report mensili</h2></header>
<ul>{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}</ul>
</section>
</div> <!-- .col-md-4 --> 

<div class="col-md-6">
<section id="info"><header><h2>Info</h2></header>
<ul>
<li><a href="/gps.html">Tracce GPS</a></li>
<li><a href="/dati.html">Download dati</a></li>
</ul>
</section>
</div> <!-- .col-md-4 -->

</div> <!-- .col-md-9 -->
<div class="col-md-3">
<aside>
<h2>Link</h2>
<ul>{% for cat in site.blogroll %}
    <li><h3>{{ cat.category}}</h3>
    <ul>{% for link in cat.links %}
       <li><a class="external-link" target="_blank" href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}</ul>
    </li>
{% endfor %}</ul>
</aside>
</div> <!-- .col-md-3 -->
